@charset "utf-8";
/*
Version 1.0.0
https://keninatateka.com/
*/

/************ HTMLリセット ************************/

body,div,h1,h2,h3,h4,h5,h6,p,ul,ol,li,dl,dt,dd,pre,blockquote,th,td,form,fieldset,input,textarea{margin:0;padding:0;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}em,strong,code,address,th{font-weight:normal;font-style:normal;}ul,ol{list-style:none;}q:before,q:after{content:"";}abbr,acronym{border:0;}table{border-collapse:collapse;border-spacing:0;}th{text-align:left;}fieldset,img{border:0;}

/************ HTML再定義 ************************/

* {
	box-sizing: border-box;
	word-break: break-all;
}
body {
	min-width: 320px;
	background: #F2F3F6;
	line-height: 1.6;
	color: #1F2124;
	font-family: -apple-system, BlinkMacSystemFont, Consolas, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Helvetica Neue", "ＭＳ Ｐゴシック", sans-serif;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Consolas, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Helvetica Neue", "Yu Gothic", sans-serif;
	font-weight: 800;
}
h1 {
	height: 80px;
	margin: 0;
	padding: 0 30px;
	border-bottom: 1px solid #EEE;
	line-height: 80px;
	font-size: 160%;
	text-align: center;
}
h2 {
	font-size: 150%;
}
h3 {
	font-size: 140%;
}
h4 {
	font-size: 130%;
}
h5 {
	font-size: 120%;
}
h6 {
	font-size: 110%;
}

a {
	color: #000;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

/************ 全体 ************************/
#chatbot {
	position:relative;
	overflow: scroll;
	width: 90%;
	max-width: 760px;/* 580px */
	height: 90vh;
	min-height: 420px;
	margin: 3vh auto;
	border-radius: 12px;
	background-color: #cccccc;
	box-shadow: 0 8px 16px 3px rgba(0,0,0, 0.06);
}
#container {
	position:absolute;
	left: 250px; /* 左から250px */
	overflow: hidden;
	width: 90%;
	height: 85vh;
	max-width: 480px;/* 580px */
	min-height: 220px;
	margin: 3vh auto;
	border-radius: 12px;
	background-color: #FFF;
	box-shadow: 0 8px 16px 3px rgba(0,0,0, 0.06);
}
.content {
	overflow-y: scroll;
	height: calc(85vh - 126px);

	-webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 420px) {
	h1 {
		height: 46px;
		padding: 0 15px;
		line-height: 46px;
		font-size: 120%;
	}
	#container {
		height: 80vh;
		margin: 2.5vh auto;
	}
	.content {
		height: calc(80vh - 92px);
	}
}

/************ メッセージ表示 ************************/

.message-area {
	position: relative;
	margin: 0;
	padding: 5px 5%;
	font-size: 15px;
}
.message-area:first-child {
	padding-top: 30px;
}
.message-area:hover {
	background-color: #FAFAFA;
}

/* 相手 */
.you {
	display: flex;
	align-items: top;
}
/* 自分 */
.me {
	display: flex;
	justify-content: flex-end;
}

/* 画像 */
.message-area img {
	display: block;
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

/* 日付 */
.date {
	display: block;
	color: rgba(0,0,0, 0.4);
	font-size: 11px;
}

/* 相手のアイコン */
.user-image {
	width: 38px;
	height: 38px;
	margin-right: 15px;
	border-radius: 100%;
	background-position: center;
	background-size: cover;
}

/* 相手のメッセージ */
.message {
	margin: 0;
	padding: 5px 15px;
	border-radius: 8px;
	background-color: #B3DDFE;
	vertical-align: middle;
}
.message:before {
	position: absolute;
	left: 72px;/* 72px */
	margin-top: 5px;
	border-width: 0 10px 10px 0;
	border-style: solid;
	border-color: transparent #B3DDFE transparent transparent;
	content: "";
}

/* 自分のメッセージ */
.mymessage {
	margin: 15px 0;
	padding: 5px 15px;
	border-radius: 8px;
	background-color: #EEE;
}

/************ フォーム ************************/

form {
	margin: 0;
	padding: 0;
}
.form {
	position: relative;
	height: 46px;
	border-top: 1px solid #EEE;
}
.form input.text {
	width: 100%;
	height: 46px;
	padding-left: 5%;
	padding-right: 76px;
	border: none;
	font-family: inherit;
	font-size: 17px;
}
.form button.submit {
	position: absolute;
	top: 0;
	right: 0;
	width: 66px;
	height: 46px;
	border: none;
	border-left: 1px solid #EEE;
	background-color: transparent;
	color: #1E87C9;
	font-family: inherit;
	font-size: 12px;
	cursor: pointer;
}
.form button:hover {
	color: #000;
}
.button01 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 300px;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: #cccccc;
  transition: 0.3s;
}




.btns{
		position: absolute;
  	display: inline-flex;
  	flex-flow: column;
  	top: 200px; /* 上から10px移動 */
	left:15px; /* 左から20px移動 */
}


.btns [type="button"]{

  	display       : inline-block;

  	border-radius : 5%;          /* 角丸       */
	font-size     : 18pt;        /* 文字サイズ */
	text-align    : center;      /* 文字位置   */
	cursor        : pointer;     /* カーソル   */
	padding       : 12px 24px;   /* 余白       */
	background    : #B3DDFE;     /* 背景色     */
	color         : #000000;     /* 文字色     */
	line-height   : 1em;         /* 1行の高さ  */
	opacity       : 0.9;         /* 透明度     */
	transition    : .3s;         /* なめらか変化 */
	box-shadow    : 4px 4px 3px #666666;  /* 影の設定 */
}
.btns [type="button"]:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  opacity       : 1;           /* カーソル時透明度 */
}




.chara {
	position: absolute; /* relativeを指定 */
	top:  25px; /* 上から-620px移動 */
	left: 50px; /* 左から575px移動 */
	width: 170px;
	height: 170px;
	margin-right: 15px;
	border-radius: 100%;
	background-position: center;
	background-size: cover;
	border: 7px solid #B3DDFE;
}